/event_management/Event_Management/nbproject/private/
/event_management/Event_Management/dist/
/event_management/Event_Management/build/
/library_management/Library_Management/nbproject/private/
/library_management/Library_Management/build/
/library_management/Library_Management/dist/
